.fig-label {
  font-size: 0.825rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section {
        text-align: justify;
    }